{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}

{% endif %}



<section id="login" class="padding">
	  <div class="container">
	    <h3 class="hidden">hidden</h3>
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <div class="profile-login">
	          <!-- Nav tabs -->
	          <ul class="nav nav-tabs" role="tablist">
	            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Login</a></li>
	            <li role="presentation" class=""><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Register</a></li>
	          </ul>
	          <!-- Tab panes -->
	          <div class="tab-content padding_half">
	            <div role="tabpanel" class="tab-pane fade active in" id="home">
	              <div class="agent-p-form">
	                
	                <form method="post" class="callus clearfix" action="{% url 'account_login' %}">
	                  <div class="single-query form-group col-sm-12">
	                    <input type="text" class="keyword-input" name="login" placeholder="Username">
	                  </div>
	                  {% csrf_token %}
	                  <div class="single-query form-group  col-sm-12">
	                    <input type="password" autocomplete="current-password" class="keyword-input" name="password" placeholder="Password">
	                  </div>
	                  <div class="row">
	                    <div class="col-sm-12">
	                      <div class="col-sm-6">
	                        <div class="search-form-group white form-group text-left">
	                          <div class="check-box-2"><i><div class="check-box"><i><input type="checkbox" name="check-box"></i></div></i></div>
	                          <span>Remember Me</span>
	                        </div>
	                      </div>
	                      <div class="col-sm-6 text-right">
	                        <a href="{% url 'account_reset_password' %}" class="lost-pass">{% trans "Forgot Password?" %}</a>
	                      </div>


	                    </div>
	                  </div>
	                  <div class=" col-sm-12">
	                    {% if redirect_field_value %}
						  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
						  {% endif %}
						  <button class="btn-slide border_radius" type="submit">{% trans "Sign In" %}</button>
	                  </div>
	                </form>


	              </div>
	            </div>
	            <div role="tabpanel" class="tab-pane fade" id="profile">
	              <div class="agent-p-form">
	               

	                <form class="callus clearfix" method="post" action="{% url 'account_signup' %}">
	                  <div class="single-query col-sm-12 form-group">
	                    <input type="text" class="keyword-input" name="username" minlength="1" maxlength="150" placeholder="Username" required>
	                  </div>


	                  <div class="single-query col-sm-12 form-group">
	                    <input type="text" class="keyword-input" name="email" placeholder="Email Address">
	                  </div>
	                  <div class="single-query col-sm-12 form-group">
	                    <input type="password" name="password1" class="keyword-input" placeholder="Password">
	                  </div>
	                  <div class="single-query col-sm-12 form-group">
	                    <input type="password" name="password2" class="keyword-input" placeholder="Confirm  Password" required>
	                  </div>
	                  <div class="search-form-group white col-sm-12 form-group text-left">
	                    <div class="check-box-2"><i><div class="check-box"><i><input type="checkbox" name="check-box"></i></div></i></div>
	                    <span>Receive Newsletter</span>
	                  </div>
	                  {% csrf_token %}

	                   {% if redirect_field_value %}
						  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					   {% endif %}
	                  <div class="col-md-12 col-sm-12 col-xs-12 text-center">
	                    <div class="query-submit-button">
	                      <input type="submit" value="{% trans "Sign Up" %} &raquo;" class="btn-slide">
	                    </div>
	                  </div>
	                </form>


	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>

{% endblock %}