{% extends 'base.html' %}
{% load i18n %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block content %}

	<section id="login" class="padding">
	  <div class="container">
	    <h3 class="hidden">hidden</h3>
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <div class="profile-login">
				<div class="row">	          
	            <h4 class="" style="color:white; padding-top:5%">{% trans "Password Reset" %}</h4>
			    {% if user.is_authenticated %}
			    {% include "account/snippets/already_logged_in.html" %}
			    {% endif %}
			    </div>


	          <!-- Tab panes -->
	          <div class="tab-content padding_half">
	            <div role="tabpanel" class="tab-pane fade active in" id="home">
	              <div class="agent-p-form">
	                
	                <form method="post" class="callus clearfix" action="{% url 'account_reset_password' %}">

	                  <div class="single-query form-group col-sm-12">
	                    {{form.email.error}}
	                    <input type="email" class="keyword-input" name="email" placeholder="E-mail address" required>
	                  </div>
	                  {% csrf_token %}
 
	                  <div class="row">
	                    <div class="col-sm-12">
	                      <div class="col-sm-6">
	                      </div>
	                     
	                    </div>
	                  </div>
	                  <div class=" col-sm-12">
	                    {% if redirect_field_value %}
						  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" required />
						  {% endif %}
						  <button class="btn-slide border_radius" type="submit">{% trans 'Reset My Password' %}</button>
	                  </div>
	                </form>


	              </div>
	            </div>

	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</section>
{% endblock %}