{% extends "base.html" %}

{% block content %}
	<section class="page-banner page-banner-bg padding" style="background-position: 50% -57px;">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12">
	        <h1 class="p-white text-uppercase">Frequently Asked Questions</h1>
	        <p class="p-white">Select one of the frequently asked questions below to learn more about buying, selling, and renting real estate.</p>
	      </div>
	    </div>
	  </div>
	</section>

{% endblock %}