
              <div class="row">
                 <div class="col-md-12">
                    <h3 class="bottom40 margin40">Featured Properties</h3>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-4 col-sm-4 col-xs-12 p-image image bottom20">
                    <img src="{% static 'images/f-p-1.png' %}" alt="image"/>
                 </div>
                 <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="feature-p-text">
                       <h4><a href="#.">Get the best property in Town by our agent</a></h4>
                       <span>by Martin Moore</span>
                    </div>
                 </div>
              </div>
              <div class="row padding-b-30 padding-t-30">
                 <div class="col-md-4 col-sm-4 col-xs-12 p-image image bottom20">
                    <img src="{% static 'images/f-p-1.png' %}" alt="image"/>
                 </div>
                 <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="feature-p-text">
                       <h4><a href="#.">Get the best property in Town by our agent</a></h4>
                       <span>by Martin Moore</span>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-4 col-sm-4 col-xs-12 p-image image">
                    <img src="{% static 'images/f-p-1.png' %}" alt="image"/>
                 </div>
                 <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="feature-p-text">
                       <h4><a href="#.">Get the best property in Town by our agent</a></h4>
                       <span>by Martin Moore</span>
                    </div>
                 </div>
              </div>