{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<!-- Page Banner Start-->
<section class="page-banner padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-uppercase">{% trans "Agent" %}</h1>
        <p>{% trans "Serving you since 1999" %}</p>
          <ol class="breadcrumb text-center ">
            <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
            <li><a href="{% url "agents" %}">{% trans "Agents List" %}</a></li>
            <li class="active"><a href="#.">{{agent.first_name}} {{agent.last_name}}</a></li>
          </ol>
      </div>
    </div>
  </div>
</section>
<!-- Page Banner End -->  
  
<!-- Agent Profile -->
<section id="agents" class="padding_bottom_half padding_top">
  <div class="container">
    <div class="row">
      <div class="col-md-12 listing1">
        <div class="row">
        {% with profile=agent.profile %}
          <div class="col-sm-6 bottom40">
            <div class="agent_wrap">
              <div class="image">
                <img src="{{profile.photo.url}}" alt="Agents">
              </div>
            </div>
          </div>
          <div class="col-sm-6 bottom40">
            <div class="agent_wrap">
           
              <h3 class="bottom10">{{agent.first_name}} {{agent.last_name}}</h3>
              <p class="bottom30">{{agent.profile.about}}</p>
              <table class="agent_contact table">
                <tbody>
                  <tr class="bottom10">
                    <td><strong>Phone:</strong></td>
                    <td class="text-right">{{profile.mobile}}</td>
                  </tr>
                  <tr class="bottom10">
                    <td><strong>Mobile:</strong></td>
                    <td class="text-right">{{profile.mobile}}</td>
                  </tr>
                  <tr>
                    <td><strong>Email Adress:</strong></td>
                    <td class="text-right"><a href="#.">{{agent.email}}</a></td>
                  </tr>
  
                </tbody>
              </table>
              <div style="border-bottom:1px solid #d3d8dd;" class="bottom15"></div>
              <ul class="social_share">
                <li><a href="javascript:void(0)" class="facebook"><i class="icon-facebook-1"></i></a></li>
                <li><a href="javascript:void(0)" class="twitter"><i class="icon-twitter-1"></i></a></li>
                <li><a href="javascript:void(0)" class="google"><i class="icon-google4"></i></a></li>
                <li><a href="javascript:void(0)" class="linkden"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="javascript:void(0)" class="vimo"><i class="icon-vimeo3"></i></a></li>
              </ul>
              {% endwith %}
            </div>
          </div>
          
          <div class="col-sm-6 bottom40">
            <form class="callus">
              <div class="row">

                {{contacts}}s

                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name">
                  </div>
                </div>
                <div class="form-group col-sm-6">  
                 
                    <input type="tel" class="form-control" placeholder="Phone Number">
                  </div>
                  <div class="form-group col-sm-6">
                    <input type="email" class="form-control" placeholder="Email">
                  </div>

             
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Message"></textarea>
                  </div>
                </div>
                <div class="col-sm-12 row">
                  <div class="row">
                    <div class="col-sm-4">
                      <input type="submit" class="btn-blue uppercase border_radius" value="submit now">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>


          <div class="col-md-12 bottom30 top20">
            <h2 class="text-uppercase bottom10">{{agent.first_name }} {{agent.last_name}}</h2>
            <p>We have Properties in these Areas View a list of Featured Properties.</p>
          </div>
          

          <div id="scrollable-element">
           {% include 'agent/_properties.html' with properties=properties %}
          </div>

          <div id="sentinel"></div>


          <div class="col-sm-12 text-center heading_space">
            <ul class="pager">
              <li><a href="#.">1</a></li>
              <li class="active"><a href="#.">2</a></li>
              <li><a href="#.">3</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Agent Profile End -->

{% endblock %}

{% block domready %}
  <script>
  document.addEventListener("DOMContentLoaded", () => {
    let bottomSentinel = document.querySelector("#bottom-sentinel");
    let scrollElement = document.querySelector("#scroll-element");
    let baseUrl = "{% url 'agent' id=request.user.id %}";
    attachInfiniteScroll(bottomSentinel, scrollElement, baseUrl);
  })
</script>
{% endblock %}