{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<!-- Page Banner Start-->
<section class="page-banner padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-uppercase">List of Our Agents</h1>
        <p>Serving you since 1999. Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
        <ol class="breadcrumb text-center ">
          <li><a href="{% url "home" %}">Home</a></li>
          <li><a href="#">Team</a></li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- Page Banner End -->



<!-- Agent Start -->
<section id="agent-2" class="padding_top padding_bottom_half">
  <div class="container">
    <div class="row">
      {% for agent in agents %}
      {% with profile=agent.profile %}
        <div class="col-sm-4 bottom40">
          <div class="agent_wrap">
            <div class="image">
              <img src="{{profile.photo.url}}" alt="{{agent.username}}">
              <div class="img-info">
                <h3>{{agent.first_name}} {{agent.last_name}}</h3>
                <span>{{profile.team.occupation}}</span>
                <p class="top20 bottom30">{{profile.about}}</p>
                <table class="agent_contact table">
                  <tbody>
                    {% if profile.phone %}
                      <tr class="bottom10">
                        <td><strong>{% trans "Phone" %}:</strong></td>
                        <td class="text-right">{{profile.phone}}</td>
                      </tr>
                    {% endif %}
                    <tr>
                      <td><strong>{%trans "Email Adress" %}:</strong></td>
                      <td class="text-right"><a href="#.">{{agent.email}}</a></td>
                    </tr>
                  </tbody>
                </table>
                <hr>
                <a class="btn-more" href="{% url 'agent' agent.id %}">
                <i><img alt="arrow" src="{% static 'images/arrow-yellow.png' %}"></i><span>Full Profile</span><i><img alt="arrow" src="{% static 'images/arrow-yellow.png' %}"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        {%endwith%}
      {% endfor %}
    </div>
  </div>
</section>
<!-- Agent End -->


{% endblock %}