<button type="button" class="form_opener"><i class="fa fa-bars"></i></button>
<div class="tp_overlay">
  <div class="topbar clearfix">
    <ul class="breadcrumb_top">
      <li><a href="{% url 'profile:favorites' %}"><i class="icon-icons43"></i>Favorites</a></li>
       {% if request.user.is_staff %}<li><a href="{% url 'backoffice:index' %}"><i class="icon-icons215"></i>Backoffice</a></li>{%endif%}
       {% if request.user.is_staff %}<li><a href="{% url "profile:profile" %}"><i class="icon-icons215"></i>My Property</a></li>{% endif %}
       {% if request.user.is_authenticated %}
              <li><a href="{% url "account:profile" %}"><i class="icon-icons230"></i>{{request.user.username}}</a></li>
            {% endif %}
              <li>
                <a href="{% if request.user.is_authenticated %}{% url 'account_logout' %}{% else %}/accounts/login{% endif %}">
                  <i class="icon-icons179"></i>
                    {% if request.user.is_authenticated %}Logout{% else %}Login/Register{% endif %}</a>
              </li>
    </ul>
  </div>
      {% include 'home/search-form.html' %}
</div>