      <li>
                    <div class="row">
                      <div class="col-menu col-md-3">
                        <h5 class="title">PROPERTY LISTINGS</h5>
                        <div class="content">
                          <ul class="menu-col">
                            <li><a href="listing1.html">List Style 1</a></li>
                            <li><a href="listing2.html">List Style 2</a></li>
                            <li><a href="listing3.html">List Style 3</a></li>
                            <li><a href="listing4.html">List Style 4</a></li>
                            <li><a href="listing5.html">List Style 5</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-menu col-md-3">
                        <h5 class="title">PROPERTY LISTINGS</h5>
                        <div class="content">
                          <ul class="menu-col">
                            <li><a href="listing6.html">List Style 5</a></li>
                            <li><a href="listing7.html">List Style 6</a></li>
                            <li><a href="listing1.html">Search by City</a></li>
                            <li><a href="listing2.html">Search by Category</a></li>
                            <li><a href="listing3.html">Search by Type</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-menu col-md-3">
                        <h5 class="title">PROPERTY DETAIL</h5>
                        <div class="content">
                          <ul class="menu-col">
                            <li><a href="property_detail1.html">Property Detail 1</a></li>
                            <li><a href="property_detail2.html">Property Detail 2</a></li>
                            <li><a href="property_detail3.html">Property Detail 3</a></li>
                            <li><a href="index7.html">Single Property</a></li>
                            <li><a href="listing4.html">Search by Type</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-menu col-md-3">
                        <h5 class="title">OTHER PAGES</h5>
                        <div class="content">
                          <ul class="menu-col">
                            <li><a href="favorite_properties.html">Favorite Properties</a></li>
                            <li><a href="agent_profile.html">Agent Profile</a></li>
                            <li><a href="404.html">404 Error</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="testimonial.html">Testimonials</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>