{% load sitetree %}
{% load static %}

<header class="layout_boxed">
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <p>We are Best in Town With 40 years of Experience.</p>
        </div>
        <div class="col-md-7 text-right">
          <ul class="breadcrumb_top text-right">
            <li><a href="{% url 'profile:favorites' %}"><i class="icon-icons43"></i>Favorites</a></li>
             {% if request.user.is_staff %}<li><a href="{% url 'backoffice:index' %}"><i class="icon-icons215"></i>Backoffice</a></li>{%endif%}
              {% if request.user.is_staff %}<li><a href="{% url "profile:profile" %}"><i class="icon-icons215"></i>My Property(UD)</a></li>{% endif %}
            {% if request.user.is_authenticated %}
              <li><a href="{% url "account:profile" %}"><i class="icon-icons230"></i>{{request.user.username}}</a></li>
            {% endif %}
              <li>
                <a href="{% if request.user.is_authenticated %}{% url 'account_logout' %}{% else %}/accounts/login{% endif %}">
                  <i class="icon-icons179"></i>
                    {% if request.user.is_authenticated %}Logout{% else %}Login/Register{% endif %}</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header-upper dark">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="logo">
            <a href="index6.html"><img alt="" src=" {% static "images/logo-white.png" %}"></a>
          </div>
        </div>
        <!--Info Box-->
        <div class="col-md-9 col-sm-12 right">
          <div class="info-box first">
            <div class="icons"><i class="icon-telephone114"></i></div>
            <ul>
              <li><strong>Phone Number</strong></li>
              <li>+1 900 234 567 - 68</li>
            </ul>
          </div>
          <div class="info-box">
            <div class="icons"><i class="icon-icons74"></i></div>
            <ul>
              <li><strong>Manhattan Hall,</strong></li>
              <li>Castle Melbourne, australia</li>
            </ul>
          </div>
          <div class="info-box">
            <div class="icons"><i class="icon-icons142"></i></div>
            <ul>
              <li><strong>Email Address</strong></li>
              <li><a href="javascript:void(0)">info@castle.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default navbar-sticky bootsnav">
    <div class="container">
      <div class="attr-nav">
        <a href="#." class="btn-touch uppercase white-touch">Get in Touch</a>
      </div>
      <div class="attr-nav">
        <ul class="social_share">
          <li><a href="javascript:void(0)" class="facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="javascript:void(0)" class="twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a class="google" href="javascript:void(0)"><i class="icon-google4"></i></a></li>
        </ul>
      </div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
        <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand sticky_logo" href="index6.html"><img src=" {% static "images/logo-white.png" %} " class="logo" alt=""></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav" data-in="fadeIn" data-out="fadeOut">
              {% sitetree_menu  from  'menu' include "trunk,1,level3" template "navigation/navs.html" %}
         </ul>
      </div>
    </div>
  </nav>
</header>