{% extends 'base.html' %}
{% block page_title %}
  <title>
    Castle - Contacts
  </title>
{% endblock %}
{% block content %}

  {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">
          <div class="alert alert-{% if message.tags == 'error'%}danger{% else %}{{message.tags}} {% endif %}  alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fa fa-coffee"></i>
            {{ message|safe }}
          </div>
          </li>
        {% endfor %}
      </ul>
  {% endif %}
  <!--Contact-->
  <section id="contact-us">
    <div class="contact">
      <div id="map"></div>
      <div class="container">
        <div class="row">
          
             <div class="col-md-4 hidden-xs">
             </div> 
             
             <div class="col-md-4 hidden-xs">
             </div> 
             
             <div class="col-md-4 col-sm-4 col-xs-12  contact-text">
             
              	<div class="agent-p-contact">
                  	<div class="our-agent-box bottom30">
                          <h2>get in touch</h2>
                      </div>
                      <div class="agetn-contact-2 bottom30">
                        	 <p><i class="icon-telephone114"></i> (+01) 34 56 7890</p>
                           <p><i class=" icon-icons142"></i> info@castle.com</p>
                           
                           <p><i class="icon-browser2"></i>www.castle.com</p>
                           <p><i class="icon-icons74"></i> Advisor Melbourne, Merrick Way, FL 12345 Australia</p>
                        </div>
                      <ul class="social_share bottom20">
              <li><a href="javascript:void(0)" class="facebook"><i class="icon-facebook-1"></i></a></li>
              <li><a href="javascript:void(0)" class="twitter"><i class="icon-twitter-1"></i></a></li>
              <li><a href="javascript:void(0)" class="google"><i class="icon-google4"></i></a></li>
              <li><a href="javascript:void(0)" class="linkden"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="javascript:void(0)" class="vimo"><i class="icon-vimeo3"></i></a></li>
            </ul>
                  </div>
              
              	<div class="agent-p-form">
                  	<div class="our-agent-box bottom30">
                          <h2>Send us a message</h2>
                      </div>
                      
                      <div class="row">
         
                        <form class="callus" method="post">
                             {% if form.errors %}
                               {% for field in form %}
                                   {% for error in field.errors %} 
                                      <div class="alert alert-danger">
                                           <strong>{{ error|escape }}</strong>
                                      </div>
                                   {% endfor %}
                               {% endfor %}
                            {% endif %}

                        
                          <div class="col-md-12">
                            <div class="single-query form-group">
                              <label>{{form.sender.error}}</label>
                              <input type="text" name="sender" placeholder="Your Name" required class="keyword-input">
                              </div>
                              <div class="single-query form-group">
                              <input type="text" placeholder="Phone Number" name="phone_number" class="keyword-input">
                            </div>
                            <div class="single-query form-group">
                              <input type="email" required placeholder="Email Adress" name="email" class="keyword-input">
                            </div>
                            <div class="single-query form-group">
                              <textarea placeholder="Massege" required name="message" class="form-control"></textarea>
                            </div>
                            {% csrf_token %}
                            <input type="submit" action="send-mail" value="submit now" class="btn-blue">
                            </div>
                          
                        </form>
                        
                      </div>
                  	
                  </div>
                  
              </div>
              
          </div>
      </div>
    </div>
  </section>
  <!-- Contact End -->
{% endblock %}

