{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}
  <title>
    {% trans "Favorites of " %} {{request.user.username}}
  </title>
{% endblock %}
{% block content %}

<!-- Favorite Properties  -->
<section id="property" class="padding_top listing1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="f-p-links margin_bottom">
          <li><a href="{% url "profile:profile" %}"><i class="icon-icons230"></i>Profile</a></li>
          <li><a href="my_properties.html"><i class="icon-icons215"></i> My Properties</a></li>
          <li><a href="submit_property.html"><i class="icon-icons215"></i> Submit Property</a></li>
          <li><a href="{% url "profile:favorites" %}" class="active"><i class="icon-icons43"></i> Favorite Properties</a></li>
          <li><a href="login.html"><i class="icon-lock-open3"></i>Logout</a></li>
        </ul>
        <h2 class="text-uppercase">My favorite Properties</h2>
        <p class="heading_space">We have Properties in these Areas View a list of Featured Properties.</p>
      </div>
    </div>
    <div class="row">
     
     {% with properties=profile.my_favorities.all %}
     {% for prop in properties %}
   
        <div class="col-sm-4">
          <div class="property_item heading_space">
            <div class="image">
              <a href="#."><img src="{% static 'images/listing1.jpg' %}" alt="latest property" class="img-responsive"></a>
              <div class="price clearfix"> 
                <span class="tag pull-right">${{prop.price|floatformat}} {% trans "Per Month" %}</span>
              </div>
              {% if prop.featured %}
                <span class="tag_l">{% trans "Featured" %}</span>
              {% endif %}
              <span class="tag_t">{% if p.purpose == '0' %}{% trans "For Rent" %} {% else %}{% trans "For Sale" %}{% endif %}</span> 
            </div>
            <div class="proerty_content">
              <div class="proerty_text">
                <h3 class="captlize">
                  <a href="#">
                    {{prop.short_description}}
                  </a></h3>
                <p>{{prop.address}}</p>
              </div>
              <div class="property_meta transparent"> 
                <span><i class="icon-select-an-objecto-tool"></i>{{prop.size}} {% trans "sq ft" %}</span> 
                <span><i class="icon-bed"></i>{{prop.bedroom}} {% trans "Rooms" %}</span> 
                <span><i class="icon-safety-shower"></i>{{prop.bathroom}} {% trans "Bathroom" %}</span>   
              </div>
              <div class="property_meta transparent bottom30">
                <span><i class="icon-old-television"></i>TV Lounge</span>
                <span><i class="icon-garage"></i>{{prop.garage}} {% trans "Garage" %}</span>
                <span></span>
              </div>
              <div class="favroute clearfix">
                <p class="pull-md-left"><i class="icon-calendar2"></i> {{prop.created|timesince}}  {% trans "ago" %} </p>
                <ul class="pull-right">
                  <li>
                    <a href="#." data-id="{{prop.id}}" data-action="{% if prop in properties %}un{% endif %}like" class="like">
                        
                         <span class="{% if prop in properties %}glyphicon glyphicon-heart{% else %}-empty{% endif %}" aria-hidden="true" wfd-id="4817"></span>
                        
                    </a>
                  </li>
                  <li><a href="#one" class="share_expender" data-toggle="collapse"><i class="icon-share3"></i></a></li>
                </ul>
              </div>
              <div class="toggle_share collapse" id="one">
                <ul>
                  <li><a href="#." class="facebook"><i class="icon-facebook-1"></i> Facebook</a></li>
                  <li><a href="#." class="twitter"><i class="icon-twitter-1"></i> Twitter</a></li>
                  <li><a href="#." class="vimo"><i class="icon-vimeo3"></i> Vimeo</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% endwith %}
    </div>


    <div class="row">
      <div class="padding_bottom text-center">
        <ul class="pager">
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Favorite Properties End -->

{% endblock %}

{% block domready %}
<script type="text/javascript">
  $('a.like').click(function(e){
    e.preventDefault();
    var link = $(this)
    console.log(link.data('action'))
    $.post('{% url "profile:add_fav" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },

      function(data){
        console.log(data)
        if (data['status'] == 'ok')
        {
          var previous_action = link.data('action');
          // toggle data-action
          link.data('action', previous_action == 'like' ?
          'unlike' : 'like');
          // toggle link text
          link.html(previous_action == 'like' ? '<span class="glyphicon glyphicon-heart" aria-hidden="true" wfd-id="4817"></span>' :
          '<span class="glyphicon glyphicon-heart-empty" aria-hidden="true" wfd-id="4817"></span>');
        }
      }
    );
    });
</script>
{% endblock %}
