{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}
  <title>
    {% trans "Favorites of " %} {{request.user.username}}
  </title>
{% endblock %}
{% block content %}

<!-- Favorite Properties  -->
<section id="property" class="padding_top listing1">
   {% include 'profile/profile-menu.html' %}
</section>
<!-- Favorite Properties End -->

{% endblock %}

{% block domready %}
<script type="text/javascript">
  $('a.like').click(function(e){
    e.preventDefault();
    var link = $(this)
    console.log(link.data('action'))
    $.post('{% url "profile:add_fav" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },

      function(data){
        console.log(data)
        if (data['status'] == 'ok')
        {
          var previous_action = link.data('action');
          // toggle data-action
          link.data('action', previous_action == 'like' ?
          'unlike' : 'like');
          // toggle link text
          link.html(previous_action == 'like' ? '<span class="glyphicon glyphicon-heart" aria-hidden="true" wfd-id="4817"></span>' :
          '<span class="glyphicon glyphicon-heart-empty" aria-hidden="true" wfd-id="4817"></span>');
        }
      }
    );
    });
</script>
{% endblock %}
