   <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="f-p-links margin_bottom">
            <li><a href="{% url "profile:profile" %}" class="active"><i class="icon-icons230"></i>Profile</a></li>
            <li><a href="my_properties.html"><i class="icon-icons215"></i> My Properties</a></li>
            <li><a href="submit_property.html"><i class="icon-icons215"></i> Submit Property</a></li>
            <li><a href="{% url "profile:favorites" %}"><i class="icon-icons43"></i> Favorite Properties</a></li>
            <li><a href="{% url 'account_logout' %}"><i class="icon-lock-open3"></i>Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
