{% extends 'base.html' %}
{% block content %}
	
	<div class="container-fluid h-100" style="height:100%" >
		<form method="POST"  style="width: 100%; max-width: 420px; padding: 15px; margin: auto;" >
			<div class="alert alert-warning" role="alert">
			  Enter your e-mail address to obtain a new password.
		  	</div>
		  <div class="form-group">
		    <label for="id_email" class="sr-only">Email</label>
		    <input type="email" name="email" class="form-control" autocomplete="email" maxlength="254" required="" id="id_email">
		  </div>
			{% csrf_token %}
			<div class="form-group">
				 <button type="submit" class="btn btn-primary mb-2">Send e-mail</button>
			</div>
		</form>
	
	</div>
{% endblock %}