{% extends 'base.html' %}
{% block content %}
	
<div class="container">

		<form class="form-signin" method="POST" style="width: 100%; max-width: 420px; padding: 15px; margin: auto;" wfd-id="1">
			{{ form.non_field_errors }}

			  <div class="text-center mb-4" wfd-id="8">
			    <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
			  </div>

			  <div class="form-group">
			  	{{ form.old_password.errors }}
			    <input type="password" name="old_password"  class="form-control" autocomplete="current-password" autofocus="" required="" id="id_old_password" placeholder="Old Password">
			  </div>
		     <div class="form-group alert alert-warning" role="alert">
			  	 <small id="emailHelp" class="form-text text-muted">
			  	 	<ul>
			  	 		<li>Your password can’t be too similar to your other personal information.</li>
			  	 		<li>Your password must contain at least 8 characters.</li>
			  	 		<li>Your password can’t be a commonly used password.</li>
			  	 		<li>Your password can’t be entirely numeric.</li>
			  	 	</ul>
			  	 </small>
			  </div>
			  <div class="form-group">
			  	{{ form.new_password1.errors }}
			    <input type="password" name="new_password1" placeholder="New Password" class="form-control" autocomplete="new-password" required="" id="id_new_password1">
			  </div>

			  <div class="form-group">
			  	{{ form.new_password2.errors }}
			  	<input type="password" name="new_password2" class="form-control" placeholder="New password confirmation" autocomplete="new-password" required="" id="id_new_password2">
			  </div>
			 
			  {% csrf_token %}
			  <div class="form-group">
				  <button class="btn btn-lg btn-primary btn-block" type="submit" wfd-id="12">Change</button>
			  </div>
			  
			  <div class="form-group">
				  <p class="mt-5 mb-3 text-muted text-center">© 2017-2020</p>
			  </div>		  
		</form>

	</div>
	

{% endblock %}