 {% load static %}

 <script type='text/javascript' src="{% static 'backoffice/assets/js/lib/jquery.min.js' %}"></script>
 <script type='text/javascript' src="{% static 'backoffice/assets/js/lib/jquery.nanoscroller.min.js' %}"></script>
 <script type='text/javascript' src="{% static 'backoffice/assets/js/lib/sidebar.js' %}"></script>
 <script type='text/javascript' src="{% static 'backoffice/assets/js/lib/bootstrap.min.js' %}"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>












 <script type='text/javascript' src="{% static 'backoffice/assets/js/lib/mmc-common.js' %}"></script>
  {% comment %}<script type='text/javascript' src="{% static 'assets/js/lib/mmc-chat.js' %}"></script>
<script type='text/javascript' src="{% static 'assets/js/lib/chart-js/Chart.bundle.js' %}"></script>
 <script type='text/javascript' src="{% static 'assets/js/lib/chart-js/chartjs-init.js' %}"></script>{% endcomment %}
 <script type='text/javascript' src="{% static 'backoffice/assets/js/lib/datamap/d3.min.js' %}"></script>
 <script type='text/javascript' src="{% static 'backoffice/assets/js/lib/datamap/topojson.js' %}"></script>
 {% comment %}<script type='text/javascript' src="{% static 'assets/js/lib/datamap/datamaps.world.min.js' %}"></script>
 <script type='text/javascript' src="{% static 'assets/js/lib/datamap/datamap-init.js' %}"></script>{% endcomment %}
 <script type='text/javascript' src="{% static 'backoffice/assets/lib/lobipanel/js/lobipanel.js' %}"></script>

 <script type='text/javascript' src="{% static 'backoffice/assets/js/bootstrap4-toggle.min.js' %}"></script>

 <script type='text/javascript' src="{% static 'backoffice/assets/js/scripts.js' %}"></script>
