{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% load property_tags %}
{% load addition_tags %}

{% block page_title %}
  <title>
    {% trans "Castle - News" %}
  </title>
{% endblock %}
{% block content %}

  <!-- Page Banner Start-->
  <section class="page-banner page-banner-bg padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="p-white text-uppercase">{% trans "Blog Posts" %}</h1>
          <p class="p-white">{% trans "Select one of the frequently asked questions below to learn more about buying, selling, and renting real estate." %}</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Page Banner End --> 

  <!-- News Start -->
  <section id="news-section-1" class="property-details padding_top">
     <div class="container property-details">
        <div class="row">
           <div class="col-md-8">
              <div class="row">
              
                {% for post in posts %}
                   <div class="news-1-box clearfix">
                      <div class="col-xs-12">
                         <div class="image bottom30">
                            <a href="{{post.get_absolute_url}}"><img src="{{ post.post_image.url }}" alt="image" class="img-responsive"/></a>
                         </div>
                      </div>
                      <div class="col-xs-12">
                         <div class="news-details bottom15">
                            <span><i class="icon-icons230"></i> {% trans "by" %} {{post.author}}</span>
                            <span><i class="icon-icons228"></i>{{post.created|date:"M d, yy"}}</span>
                         </div>
                         <h3 class="bottom10"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
                         <p class="bottom20">{{post.body|truncatechars_html:250|safe}}</p>
                         <div class="pro-3-link padding-t-20">
                            <a class="btn-dark border_radius" href="{{post.get_absolute_url}}">{% trans "Read More" %}</a>
                         </div>
                      </div>
                   </div>
                {% endfor %} 
              
              </div>

              <div class="row margin_bottom">
                 <div class="col-md-12">
                   <ul class="pager">
                      {% if posts.has_previous %}
                          <li><a href="?page=1">&laquo; first</a></li>
                          <li><a href="?page={{ posts.previous_page_number }}">previous</a></li>
                      {% endif %}

                      <span class="current">
                          <li>Page {{ posts.number }} of {{ posts.paginator.num_pages }}. </li>
                      </span>

                      {% if posts.has_next %}
                          <li><a href="?page={{ posts.next_page_number }}">next</a></li>
                          <li><a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a></li>
                      {% endif %}
                    </ul>
                 </div>
              </div>

           </div>
           <aside class="col-md-4 col-xs-12">
              <div class="row">
                 <div class="col-md-12">
                    <form class="form-search bottom40" method="post" id="news-search" action="{% url 'news:search' %}">
                       <div class="input-append">
                          <input type="text" class="input-medium search-query" placeholder="Search Here" value="" name="query">
                          {% csrf_token %}
                          <button type="submit" class="add-on"><i class="icon-icons185"></i></button>
                       </div>
                    </form>
                 </div>
                 <div class="col-md-12">
                    <h3 class="bottom20">Categories</h3>
                    <ul class="pro-list bottom20">
                        <li><a href="{% url 'news:list' %}">All Posts</a></li>
                       {% for cat in cats %}
                         <li>
                            <a href="{% url 'news:list_post_by_category' cat_slug=cat.slug%}">{{cat}}</a>
                         </li>
                       {% endfor %}
                      
                    </ul>
                 </div>
              </div>
           



              {% featured %}
   

           </aside>
        </div>
     </div>
  </section>
  <!-- News End -->

  <!--Partners-->
    {% list_partners %}
  <!--Partners Ends-->

{%endblock%}


